[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "contrastable"]
	path = contrastable
	url = https://github.com/tsostarics/contrastable
